
/* small */
@media screen and (min-width:500px) {
    
    .sm-100{
        width: 100%;
    }
    .sm-50{
        width: 50%;
    }
    .sm-33{
        width: 33%;
    }
    .sm-25{
        width: 25%;
    }
    .sm-20{
        width: 20%;
    }

}


/* medium */
@media screen and (min-width:786px) {
    
    .md-100{
        width: 100%;
    }
    .md-50{
        width: 50%;
    }
    .md-33{
        width: 33%;
    }
    .md-25{
        width: 25%;
    }
    .md-20{
        width: 20%;
    }
}

/* large */
@media screen and (min-width:992px) {
    
    .lg-100{
        width: 100%;
    }
    .lg-50{
        width: 50%;
    }
    .lg-33{
        width: 33%;
    }
    .lg-25{
        width: 25%;
    }
    .lg-20{
        width: 20%;
    }
}




/* xlarge */
@media screen and (min-width:1200px) {
    
    .xl-100{
        width: 100%;
    }
    .xl-50{
        width: 50%;
    }
    .xl-33{
        width: 33%;
    }
    .xl-25{
        width: 25%;
    }
    .xl-20{
        width: 20%;
    }
}



/* xxlarge */
@media screen and (min-width:1400px) {
    
    .xxl-100{
        width: 100%;
    }
    .xxl-50{
        width: 50%;
    }
    .xxl-33{
        width: 33%;
    }
    .xxl-25{
        width: 25%;
    }
    .xxl-20{
        width: 20%;
    }
}