body{
    background-color: white;
    color: black !important;
    overflow: hidden;
}

.nav-tab{
    background-color:white;
}

.logo{
    width: 50px;
}
i{
    cursor: pointer;
}

.meal-layer{
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 100%;
    transition: .5s;
}

.meal:hover .meal-layer{
    top: 0;
}

.side-nav-menu{
    z-index: 99;
}

.cursor-pointer{
    cursor: pointer;
}

.alert{
    width: fit-content;
}

.loading-screen{
    z-index: 999;
    display: flex;
}

.inner-loading-screen{
    position: absolute;
    z-index: 9;
    background-color: black;
    display: flex;
}
footer{
    background-color: black;
    color: white;
}